<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - SinistroOdontoApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">SinistroOdontoApp</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/Sintomas/Identificar">Identificar Sintomas</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Sintomas/Create">Adicionar Sintoma</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        @RenderBody()
    </main>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">© 2024 - SinistroOdontoApp</div>
    </footer>
</body>
</html>
